* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f7fc;
}

.headerdiv{
   display: flex;
   align-items: center;
}

#imageicon{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 2.5em;
    color: red;
}
#headerform {
    position: absolute;
    font-size: 2.5em;
    left: 55px;
    top: 5px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

#main {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 500px;
}

.inputs {
    margin-bottom: 20px;
}

.inputs label {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.inputs select {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    transition: all 0.3s ease;
}

.inputs input:focus {
    border-color: #6599d4;
    outline: none;
    background-color: #fff;
}

.Appbuttons{
    display:flex;
    gap : 5px;
}

button {
    background-color: #4a90e2;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button {
    background-color: #357ABD;
}

@media (max-width: 600px) {
    #main {
        padding: 20px;
    }
    #headerform {
        font-size: 2em;
    }
    .inputs label {
        font-size: 1em;
    }
    .inputs input {
        padding: 10px;
        font-size: 1em;
    }
}
